/* font import */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:wght@300&display=swap');

/* Tailwind Default imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
      font-family: Bungee;
  }
}

@layer base {
  html {
    font-family: Poppins;
  }
}

/* @layer base {
  body {
    background-image:  url('../src/assets/dirty-dog-site-background.gif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
} */

/* #mainMenu {
  background-image: url("../src/assets/background-dp-1.png");
  
}

#hero {
  background-image: url("../src/assets/background-dp-2.png");
  background-repeat: no-repeat;
} */

/* #tokenDetail1 {
  background-image: url("../src/assets/background-dp-3.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 608px;
} */



/* 
@media (min-width: 576px) {
  

  #tokenDetail2 {
    background-image: url("../src/assets/background-dp-1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #tokenomics {
    background-image: url("../src/assets/tokenomicsMobile.jpg");
    
  }

  #tokenData {
    background-image: url("../src/assets/tokenDataMobile.jpg");
    
  }

  #roadMap {
    background-image: url("../src/assets/roadmap.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #footer {
    background-image: url("../src/assets/footer.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
} */


@media (max-width: 600px) {

  #mainMenu {
    background-image: url("../src/assets/new/top-sky-mobile.png");
    background-color: #5fcde4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 175px;
  }

  #hero {
    background-image: url("../src/assets/new/midsky-mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1300px;
  }

  #tokenDetail {
    background-color: #5fcde4;
    height: 1160px;
  }

  #tokenomics {
    background-image: url("../src/assets/new/middle-cave.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 2300px;
  }


  #roadMap {
    background-color: #5fcde4;
    height: 1900px;
  }

  #footer {
    background-color: #754128;
    height: 300px;
  }


/* 
  #tokenomics {
    background-image: url("../src/assets/tokenomicsDesktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #tokenData {
    background-image: url("../src/assets/tokenDataDesktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #roadMap {
    background-image: url("../src/assets/roadmap.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #footer {
    background-image: url("../src/assets/footerDesktop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  } */
}

.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    background: #92400e;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(7px);
  }
  
  .hamburger-bottom {
    transform: translateY(14px);
  }
  
  .open {
    transform: rotate(90deg);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translateX(6px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
  }

